---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../Components/BlogPost.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <div class="board">
    <div class="note large centered color-yellow">
    <p>Posts tagged with {tag}. <a href={`/blog/`}>Go back to all posts</a>.</p>
  </div>
    <div class="row">
        { posts.map((post) =>         <BlogPost url={`/posts/${post.slug}/`} 
        postdata={post.data} 
        pubDate={post.data.pubDate} 
        />) }
    </div>
  </div>
</BaseLayout>