---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <div class="board">
  <div class="note centered large">
    <h1><em>{frontmatter.title}</em></h1>
  <h2>{frontmatter.description}</h2>
  <p>Written by: {frontmatter.author}</p>
  <p>{frontmatter.pubDate.toString().slice(0,10)}</p>

  <img src={frontmatter.image.imgUrl} width="100%" alt={frontmatter.image.alt} />

  <div class="tags">
    {frontmatter.tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
  <slot />
</div>
</div>
</BaseLayout>
<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>